.a{
    color: rgb(140, 140, 140);
    font-style: italic;
}
#title{
    font-size: 20px;
    text-decoration: underline;
}
.btn{
    padding:10px 20px;
    border-radius: 5px;
    background-color: #3599db;
    border: 0px solid white;
    color:white;
}
.btn:hover{
    background-color: rgb(116, 116, 255);
    cursor: pointer;

}
